a{
    text-decoration: none;
}

.product-img img{
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.product-details img{
    width: 80px;
    height: 80px;
    cursor: pointer;
    object-fit: contain;
}

.product-details h6{
    margin: 20px 0;
}

.spec{
    padding: 20px;
}

.product-btn{
    display: flex;
    justify-content: space-evenly;
}

.product-btn a button{
    display: block;
    width: 200px;
    height: 50px;
    color: var(--black-color);
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    background: var(--green-color);
    cursor: pointer;
    border: none;
}

.product-btn a:nth-child(2) button{
    background: var(--blue-color);
}